<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

<Product Id="*" UpgradeCode="6EB874C4-FE5E-413F-9594-C951E8B89DBA" Language="1033"
         Manufacturer="Bob -- K6RWY" Name="AddrBookMerge"
         Version="!(bind.fileVersion.AddrBookMerge.cmp)"
         >

  <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"
           Manufacturer="Bob -- K6RWY" Description="Installs AddrBookMerge"
           Comments="Copyright (c) Bob -- K6RWY"
           />

  <MajorUpgrade Schedule="afterInstallInitialize"
                AllowDowngrades="no"   IgnoreRemoveFailure="no"   AllowSameVersionUpgrades="no"
                DowngradeErrorMessage="A newer version of [ProductName] is already installed." />

  <MediaTemplate EmbedCab="yes" />

  <UI Id="My_InstallDir.ui">
    <UIRef Id="WixUI_InstallDir" />
    <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">
      NOT Installed
    </Publish>
    <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">
      1
    </Publish>
  </UI>

  <WixVariable Id="WixUIDialogBmp" Value="C:\Program Files (x86)\WixApp\dialog.bmp"/>
  <WixVariable Id="WixUIBannerBmp" Value="C:\Program Files (x86)\WixApp\banner.bmp"/>

  <Icon     Id="AddrBookMergeIcon.ico"
                          SourceFile="$(var.SolutionDir)..\AddrBookMerge.prj\res\AddrBookMerge.ico"/>
  <Icon     Id="UninstallIcon.ico"
                              SourceFile="$(var.SolutionDir)..\AddrBookMerge.prj\res\Uninstall.ico"/>
  <Property Id="ARPPRODUCTICON"  Value="UninstallIcon.ico" />

  <Feature Id="ProductFeatures" Title="Main Product" Level="1" >
    <ComponentGroupRef Id="AddrBookMerge.ftr"/>
    <ComponentGroupRef Id="UninstallAddrBookMerge.ftr"/>
  </Feature>
</Product>

<Fragment>
<ComponentGroup Id="AddrBookMerge.ftr">
  <ComponentRef Id="AddrBookMerge.cmp"/>
  <ComponentRef Id="Help.cmp"/>
</ComponentGroup>
<ComponentGroup Id="UninstallAddrBookMerge.ftr">
  <ComponentRef Id="UninstallAddrBookMerge.cmp"/>
</ComponentGroup>
</Fragment>

<!--Directory structure-->
<Fragment>
  <Directory Id="TARGETDIR" Name="SourceDir">
    <Directory Id="ProgramFilesFolder">
      <Directory Id="AddrBookMerge.pff" Name="AddrBookMerge" />
    </Directory>

    <Directory Id="ProgramMenuFolder" Name="StartMenu">
      <Directory Id="AddrBookMerge.pmf" Name="Addr Book Merge" />
    </Directory>

    <Directory Id="DesktopFolder" Name="Desktop" />
  </Directory>

  <Property Id="ApplicationFolderName" Value="AddrBookMerge" />
  <Property Id="WIXUI_INSTALLDIR"      Value="AddrBookMerge.pff"/>
  <Property Id="WixAppFolder"          Value="WixPerMachineFolder" />
</Fragment>

<Fragment>

  <Component Id="AddrBookMerge.cmp"  Guid="D70B4350-78C1-4802-AF3E-DCB84E8D6E99"
                                                                        Directory="AddrBookMerge.pff">
    <File Id="AddrBookMerge.cmp" Source="$(var.SolutionDir)..\Release\AddrBookMerge.exe" KeyPath="yes"/>

    <Shortcut Id               = "AddrBookMerge.shc"
              Name             = "Addr Book Merge"
              Description      = "Merge/Remove Duplicate/Troublesome Thunderbird Address Book eMails"
              Advertise        = "yes"
              Directory        = "AddrBookMerge.pmf"
              WorkingDirectory = "AddrBookMerge.pff"
              Icon             = "AddrBookMergeIcon.ico"
              />

    <Shortcut Id               = "AddrBookMerge.dsk"
              Name             = "Addr Book Merge"
              Description      = "Merge/Remove Duplicate/Troublesome Thunderbird Address Book eMails"
              Advertise        = "yes"
              Directory        = "DesktopFolder"
              WorkingDirectory = "AddrBookMerge.pff"
              Icon             = "AddrBookMergeIcon.ico"
              />
  </Component>

  <Component Id="Help.cmp"  Guid="98AB4B44-698A-4649-8BEC-B38A3E3C42F6" Directory="AddrBookMerge.pff">
    <File Id="Help.cmp" Source="$(var.SolutionDir)..\Release\AddrBookMerge.chm" KeyPath="yes"/>
  </Component>

</Fragment>

<Fragment>

  <Component Id="UninstallAddrBookMerge.cmp" 
                            Guid="791C06D2-4A86-48B2-AC2F-7765EAEA4DC7" Directory="AddrBookMerge.pmf">

    <Shortcut Id               = "UninstallAddrBookMerge.shc"
              Name             = "Uninstall Addr Book Merge"
              Description      = "Uninstalls Addr Book Merge"
              Target           = "[System64Folder]msiexec.exe"
              Arguments        = "/x [ProductCode]"
              Icon             = "UninstallIcon.ico"
              />
    <RemoveFolder Id="AddrBookMerge.uni" Directory="AddrBookMerge.pmf" On="uninstall"/>
    <RegistryValue Root="HKCU" Key="Software\UninstallAddrBookMerge.cmp" Name="installed"
                   Type="integer" Value="1" KeyPath="yes"/>
  </Component>

</Fragment>

</Wix>
