<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">

<Product Id="*" UpgradeCode="50483B31-BA77-4A0C-AE48-7FDA0BD88A63" Language="1033"
                Manufacturer="Bob -- K6RWY" Name="AddrBookMerge"
                Version="!(bind.fileVersion.Address_Book_Merge.cmp)"
                >

  <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"
                Manufacturer="Bob -- K6RWY" Description="Installs AddrBookMerge"
                Comments="Copyright (c) Bob -- K6RWY"
                />

  <MajorUpgrade Schedule="afterInstallInitialize"
                AllowDowngrades="no"   IgnoreRemoveFailure="no"   AllowSameVersionUpgrades="no"
                DowngradeErrorMessage="A newer version of [ProductName] is already installed."
                />

  <MediaTemplate EmbedCab="yes" />

  <UI Id="My_InstallDir.ui">
    <UIRef Id="WixUI_InstallDir" />
    <Publish Dialog="WelcomeDlg" Control="Next" Event="NewDialog" Value="InstallDirDlg">
      NOT Installed
    </Publish>
    <Publish Dialog="InstallDirDlg" Control="Back" Event="NewDialog" Value="WelcomeDlg" Order="2">
      1
    </Publish>
  </UI>

  <WixVariable Id="WixUIDialogBmp" Value="C:\Program Files (x86)\WixApp\dialog.bmp"/>
  <WixVariable Id="WixUIBannerBmp" Value="C:\Program Files (x86)\WixApp\banner.bmp"/>

  <Icon     Id="AddrBookMerge01Icon.ico"
                        SourceFile="$(var.SolutionDir)..\AddrBookMerge.prj\res\AddrBookMerge.ico"/>
  <Property Id="ARPPRODUCTICON"  Value="AddrBookMerge01Icon.ico" />

  <Feature Id="ProductFeatures" Title="Main Product" Level="1" >
    <ComponentGroupRef Id="AddrBookMerge.ftr"/>
    <ComponentGroupRef Id="Uninstall_Address_Book_Merge.ftr"/>
  </Feature>
</Product>

<Fragment>
  <ComponentGroup Id="AddrBookMerge.ftr">
    <ComponentRef Id="Address_Book_Merge.cmp"/>
    <ComponentRef Id="Help.cmp"/>
  </ComponentGroup>
  <ComponentGroup Id="Uninstall_Address_Book_Merge.ftr">
    <ComponentRef Id="Uninstall_Address_Book_Merge.cmp"/>
  </ComponentGroup>
</Fragment>

<!--Directory structure-->
<Fragment>
  <Directory Id="TARGETDIR" Name="SourceDir">
    <Directory Id="ProgramFilesFolder">
      <Directory Id="ADDRBOOKMERGE.PFF" Name="AddrBookMerge" />
    </Directory>

    <Directory Id="ProgramMenuFolder">
      <Directory Id="AddrBookMerge.pmf" Name="AddrBookMerge" />
    </Directory>

    <Directory Id="DesktopFolder" />
  </Directory>

  <Property Id="ApplicationFolderName" Value="AddrBookMerge" />
  <Property Id="WIXUI_INSTALLDIR"      Value="ADDRBOOKMERGE.PFF"/>
  <Property Id="WixAppFolder"          Value="WixPerMachineFolder" />
</Fragment>

<Fragment>
  <Component Id="Address_Book_Merge.cmp"
                         Guid="01BA8ABC-71B7-49E9-A741-85A37FAC69A6" Directory="ADDRBOOKMERGE.PFF">
    <File Id="Address_Book_Merge.cmp"
                            Source="$(var.SolutionDir)..\Release\AddrBookMerge.exe" KeyPath="yes"/>

    <Shortcut Id               = "AddressBookMerge.shc"
              Name             = "Address Book Merge"
              Advertise        = "yes"
              Directory        = "AddrBookMerge.pmf"
              WorkingDirectory = "ADDRBOOKMERGE.PFF"
              Icon             = "AddrBookMerge01Icon.ico"
              />

    <Shortcut Id               = "AddressBookMerge.dsk"
              Name             = "Address Book Merge"
              Advertise        = "yes"
              Directory        = "DesktopFolder"
              WorkingDirectory = "ADDRBOOKMERGE.PFF"
              Icon             = "AddrBookMerge01Icon.ico"
              />
    <Condition>
      <![CDATA[Installed OR VersionNT >= 601]]>
    </Condition>
  </Component>

  <Component Id="Help.cmp" Guid="B44CFDDD-B213-4F2D-9DD6-C144E886A158"
                                                                     Directory="ADDRBOOKMERGE.PFF">
    <File Id="Help.cmp" Source="$(var.SolutionDir)..\Release\AddrBookMerge.chm" KeyPath="yes"/>
  </Component>
</Fragment>

<Fragment>
  <Component Id="Uninstall_Address_Book_Merge.cmp"
                         Guid="C857F2D1-9A2B-4F11-A2AD-51F173C92519" Directory="AddrBookMerge.pmf">

    <Shortcut Id               = "UninstallAddressBookMerge.shc"
              Name             = "Uninstall Address Book Merge"
              Description      = "Uninstalls Address Book Merge"
              Target           = "[System64Folder]msiexec.exe"
              Arguments        = "/x [ProductCode]"
              Icon             = "AddrBookMerge01Icon.ico"
              />
    <RemoveFolder Id="AddrBookMerge.uni" Directory="AddrBookMerge.pmf" On="uninstall"/>
    <RegistryValue Root="HKCU" Key="Software\Uninstall_Address_Book_Merge.cmp"
                                          Name="installed" Type="integer" Value="1" KeyPath="yes"/>
  </Component>
</Fragment>
</Wix>
